<%= form_tag repos_path, method: :get do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<hr />
<table>
  <% if repos[:success] %>
    <% repos[:result].each do |repo| %>
      <tr>
        <th>Name</th>
        <th>Url</th>
        <th>Description</th>
      </tr>
      <tr>
        <td><%= repo[:name] %></td>
        <td><%= link_to(repo[:url], repo[:url]) %></td>
        <td><%= repo[:description] %></td>
      </tr>
    <% end %>
  <% else %>
    <%= repos[:result] %>
  <% end %>
</table>